<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>INVOICE</title>
        <!-- CSS (load bootstrap from a CDN) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/10927edcb0.js" crossorigin="anonymous"></script>
        <style>
            body {
                margin-top: 2%;
            }
        </style>
    </head>
<body>